<h1>Hola</h1>
<form [formGroup]="initForm" style="padding-left: 20px;">
    <span>Busqueda: </span>
    <input matInput formControlName="search" type="text"   [(ngModel)]="searchword" (input)="searchThis()">
    <span style="margin: 0px 10px;">tabla</span>
    <select matNativeControl required formControlName="option" [(ngModel)]="selectOption" (change)='onOptionsSelected()'>
        <option value="1" selected>Productos v2</option>
        <option value="2">Productos v3</option>
      </select>
</form>
<hr>
<!-- <pre>{{products | json}}</pre> -->
<table>
    <tr>
      <th>Indice</th>
      <th>ID</th>
      <th>Nombre</th>
      <th>Foto</th>
      <th>Revisión</th>
    </tr>
    <tr *ngFor="let data of filteredData; let i = index">
        <td>{{i + 1}}</td>
      <td>{{data.id}}</td>
      <td>{{data.name}}</td>
      <td>{{data.attachment}}</td>
      <td>{{data.rev}}</td>
    </tr>
  </table>
<router-outlet></router-outlet>